<div class="projects">
	<h3><span>Projects</span></h3>
	<ul>
		<li>
			<span>Lembrete de Contas Fácil (mobile app)</span>
			<img src="http://via.placeholder.com/230x120" alt="Lembrete de Contas Fácil (mobile app)" title="Lembrete de Contas Fácil (mobile app)"/>
		</li>
		<li>
			<span>arteparacaneca.com.br (website)</span>
			<img src="http://via.placeholder.com/230x120" alt="arteparacaneca.com.br (website)" title="arteparacaneca.com.br (website)"/>
		</li>
		<li>
			<span>ScriptCase Tools (browser extension)</span>
			<img src="http://via.placeholder.com/230x120" alt="ScriptCase Tools (browser extension)" title="ScriptCase Tools (browser extension)"/>
		</li>
		<li>
			<span>Brasil em papel de parede (mobile app)</span>
			<img src="http://via.placeholder.com/230x120" alt="Brasil em papel de parede (mobile app)" title="Brasil em papel de parede (mobile app)"/>
		</li>
		<li>
			<span>Material Design Palette (browser extension)</span>
			<img src="http://via.placeholder.com/230x120" alt="Material Design Palette (browser extension)" title="Material Design Palette (browser extension)"/>
		</li>
		<li>
			<span>Outdated IE Alert (jQuery plugin)</span>
			<img src="http://via.placeholder.com/230x120" alt="Outdated IE Alert (jQuery plugin)" title="Outdated IE Alert (jQuery plugin)"/>
		</li>
		<li>
			<span>UI CSS (web compnents using only HTML/CSS)</span>
			<img src="http://via.placeholder.com/230x120" alt="UI CSS (web compnents using only HTML/CSS)" title="UI CSS (web compnents using only HTML/CSS)"/>
		</li>
		<li>
			<span>WebDatabase.js (JS lib)</span>
			<img src="http://via.placeholder.com/230x120" alt="WebDatabase.js (JS lib)" title="WebDatabase.js (JS lib)"/>
		</li>
	</ul>
</div>
