<div class="projects">
	<h3><span>My key side projects</span></h3>
	<p>Read more about my side projects <a href="/about/#side-projects">clicking here</a></p>
	<ul style="display: flex; flex-wrap: wrap; justify-content: center;">
		<li>
			<a href="https://github.com/AndersonMamede/electron-progressbar" target="_blank"><span>electron-progressbar (open-source library)</span></a>
			<a href="https://github.com/AndersonMamede/electron-progressbar" target="_blank"><img src="/assets/img/project-placeholder.png" alt="electron-progressbar (open-source library)" title="electron-progressbar (open-source library)"/></a>
		</li>
		<li>
			<a href="https://github.com/AndersonMamede/scriptcase-tools" target="_blank"><span>ScriptCase Tools (free dev tool)</span></a>
			<a href="https://github.com/AndersonMamede/scriptcase-tools" target="_blank"><img src="/assets/img/project-placeholder.png" alt="ScriptCase Tools (free dev tool)" title="ScriptCase Tools (free dev tool)"/></a>
		</li>
		<li>
			<a href="https://play.google.com/store/apps/details?id=com.appstorehouse.cbq.app&hl=en" target="_blank"><span>Color Mixing Matching (free mobile game)</span></a>
			<a href="https://play.google.com/store/apps/details?id=com.appstorehouse.cbq.app&hl=en" target="_blank"><img src="/assets/img/project-placeholder.png" alt="Color Mixing Matching (free mobile game)" title="Color Mixing Matching (free mobile game)"/></a>
		</li>
		<li>
			<a href="https://play.google.com/store/apps/details?id=com.appstorehouse.lcf.app&hl=en" target="_blank"><span>Easy Bills Reminder/Organizer (free mobile app)</span></a>
			<a href="https://play.google.com/store/apps/details?id=com.appstorehouse.lcf.app&hl=en" target="_blank"><img src="/assets/img/project-placeholder.png" alt="Easy Bills Reminder/Organizer (free mobile app)" title="Easy Bills Reminder/Organizer (free mobile app)"/></a>
		</li>
		<li>
			<a href="https://chrome.google.com/webstore/detail/material-design-palette/iklaoaeikobdklaggagbapdkhamhdjoc" target="_blank"><span>Material Design Palette (dev browser extension)</span></a>
			<a href="https://chrome.google.com/webstore/detail/material-design-palette/iklaoaeikobdklaggagbapdkhamhdjoc" target="_blank"><img src="/assets/img/project-placeholder.png" alt="Material Design Palette (dev browser extension)" title="Material Design Palette (dev browser extension)"/></a>
		</li>
		<li>
			<a href="https://www.arteparacaneca.com.br/" target="_blank"><span>arteparacaneca.com.br (website)</span></a>
			<a href="https://www.arteparacaneca.com.br/" target="_blank"><img src="/assets/img/project-placeholder.png" alt="arteparacaneca.com.br (website)" title="arteparacaneca.com.br (website)"/></a>
		</li>
	</ul>
</div>
