<div class="projects">
	<h3>Projects</h3>
	<ul>
		<li>
			<span>Test 123</span>
			<img src="http://via.placeholder.com/230x120" width="230" height="120" alt=""/>
		</li>
		<li>
			<span>Test 123</span>
			<img src="http://via.placeholder.com/230x120" width="230" height="120" alt=""/>
		</li>
		<li>
			<span>Test 123</span>
			<img src="http://via.placeholder.com/230x120" width="230" height="120" alt=""/>
		</li>
		<li>
			<span>Test 123</span>
			<img src="http://via.placeholder.com/230x120" width="230" height="120" alt=""/>
		</li>
		<li>
			<span>Test 123</span>
			<img src="http://via.placeholder.com/230x120" width="230" height="120" alt=""/>
		</li>
		<li>
			<span>Test 123</span>
			<img src="http://via.placeholder.com/230x120" width="230" height="120" alt=""/>
		</li>
		<li>
			<span>Test 123</span>
			<img src="http://via.placeholder.com/230x120" width="230" height="120" alt=""/>
		</li>
		<li>
			<span>Test 123</span>
			<img src="http://via.placeholder.com/230x120" width="230" height="120" alt=""/>
		</li>
	</ul>
</div>
