.tags
    margin-top rem(15px)
    a
        font-size rem(14px)
        background main
        display inline-block
        border none
        border-radius 0.3rem
        padding .35rem .9rem
        margin-right 0.8rem
        margin-bottom rem(8px)
        text-decoration none
        color: paletteWhite
        transition all 0.4s
        &:hover
            background paletteRed
            border none

.img-rounded
    border-radius 50%

.highlighter-rouge
    margin 15px 0
