// others nice colors for main
// #FF1654
// #2274A5
// #083D77
// #0A369D
// #006992

// Custom colors (palette)
paletteMain = #006992
paletteWhite = #FDFFFC
paletteBlue = #2EC4B6
paletteRed = #F71735
paletteYellow = #FF9F1C

// COLORS
main = paletteMain
hover = paletteRed
sec  = #FDFFFC
lightGray = #F2F2F2
texts = #424242
colorcode = paletteRed
// Resolution
cut = 37.5rem